#map {
            width: 100%;
            height: 50vh;
            z-index: 1;
        }

#locate-btn{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 1000;
            color: black;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.8);
        }

#checkbox-container {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
            max-width: 250px;
        }

#cyclebuddy-logo {
            width: 170px;
        }

#menu_map {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 1000;
}

.container {
            display: inline-block;
            cursor: pointer;
        }

.bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }

.change .bar1 {
            transform: translate(0, 11px) rotate(-45deg);
        }

.change .bar2 {
            opacity: 0;
        }

.change .bar3 {
            transform: translate(0, -11px) rotate(45deg);
        }