/* Color Variables, Transitions */
:root {
    /* Colors */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --sidebar-toggle-color: #007bff; /* Pfeil-toggle*/
    --primary-color: #007bff;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --text-title-color: #007bff;
    --containercolor: rgba(246, 245, 255, 0.5);
    --containertextcolor: black;
    /* Transitions */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

* {
    /* general */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark {
    /* Colors for darkmode */
    --body-color: #3A3B3C;
    --sidebar-color: #242526;
    --sidebar-toggle-color: grey;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --text-title-color: #FFF;
    --containercolor: rgba(128, 128, 128, 0.5);
    --containertextcolor: #FFF;
}

/* ===== Sidebar Styles ===== */
.sidebar {
    /*general Sidebar design*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 210px;
    padding: 10px 5px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close {
    /* Size of closed Sidebar */
    width: 60px;
}

.sidebar .text {
    /* Text in Sidebar */
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-05);
    white-space: nowrap;
}

.sidebar.close .text {
    /* Blend out text when sidebar is closed */
    opacity: 0;
}

.sidebar .image {
    /* Image in Sidebar (Logo on top) */
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li {
    /* List-Items in Sidebar */
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    /* Icons in Sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
    /* Color of Icons and Text in Sidebar */
    color: var(--text-color);
    transition: var(--tran-05);
}

.sidebar header {
    /* Header in Sidebar */
    position: relative;
}

.sidebar .image-text img {
    /* Size and Shape of Image (Logo) in Header */
    width: 40px;
    border-radius: 20px;
}

.sidebar header .image-text {
    /* Position of Image and Text in Header */
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    /* Position of Text in Header */
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header-text .name {
    /* Size of Name in Header */
    font-weight: 600;
}

.header-text .sub {
    /* Size of Subtext in Header */
    margin-top: -2px;
}

/* == Sidebar Toggle-Button == */
.sidebar header .toggle {
    /* Toggle-Button (>) in Header to open and close Sidebar */
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--sidebar-toggle-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-05);
}

.sidebar.close header .toggle {
    /* Position of Toggle-Button when Sidebar is closed */
    transform: translateY(-50%); /* rotate(180deg) = (<) */
}

body.dark .sidebar header .toggle {
    /* Color of Toggle-Button in Darkmode */
    color: var(--text-color);
}

.sidebar .menu {
    /* Menu in Sidebar */
    margin-top: 35px;
}


.sidebar li a {
    /* Links to other Pages in Sidebar */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    /* Background-Color of Links while hovering over them */
    background: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    /* Color of Icons and Text while hovering over Links */
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    /* Color of Icons and Text while hovering over Links in Darkmode */
    color: var(--text-color)
}

.sidebar .menu-bar {
    /* Menu-Bar at the bottom of the Sidebar */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    /* Mode-Button in Menu-Bar */
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    /* Moon and Sun Icons in Mode-Button */
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    /* Moon and Sun Icons in Mode-Button */
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    /* Sun Icon in Mode-Button = invisible */
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    /* Sun Icon in Mode-Button = visible */
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    /* Moon Icon in Mode-Button = invisible */
    opacity: 0;
}

/* ===== Main Content Styles ===== */
.home {
    /* Main Content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    margin-left: 210px;
    background: var(--body-color);
    transition: var(--tran-05);
    padding: 20px;
    box-sizing: border-box;
}

.home .text {
    /* Text in Main Content */
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home {
    /* Position of Main Content when Sidebar is closed */
    left: 60px;
}

/* == Search Box == */
.sidebar .search-box {
    /* Search-Box in Sidebar */
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    /* Input-Field in Search-Box */
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    color: var(--text-color);
    transition: var(--tran-05);
}

.search-box:hover {
    /* Background-Color of Search-Box while hovering over it */
    box-shadow: 0 .1rem .4rem #0002;
}

.sidebar.open header .search-box {
    /* Font-Size of Search-Box when Sidebar is open */
    font-size: 16px;
}

/* ========== Navigation Section ========== */

/* ==== Map ==== */
#map {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.home .content-section {
    /* Sections in Main Content */
    display: none;
    position: absolute;
    top: 0;
    left: 60px;
    width: calc(100% - 60px);
    height: 100vh;
    overflow: hidden;
}

.home .content-section.active {
    /* Shows active Section */
    display: block;
}

.leaflet-control-attribution {
    /* Attribution-Text in Map */
    display: none;
}

/* ==== Buttons and Switches ==== */

/* == Toggle-Switch in Sidebar == */
.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 50px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.toggle-switch .switch {
    /* Switch in Toggle-Switch */
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.toggle-switch .switch::before {
    /* Circle in Switch */
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .toggle-switch .switch::before {
    /* Circle in Switch in Darkmode */
    left: 24px;
}


/* == Location Button == */
.location {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    bottom: 15px;
    right: 70px;
    border-radius: 6px;
    background-color: rgba(246, 245, 255, 0.5);
    z-index: 1001;
    border: none;
    backdrop-filter: blur(7px);
}

.location .icon {
    /* Icon in Location-Button */
    font-size: 20px;
}

.location:hover {
    /* Background-Color of Location-Button while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

.location:hover .icon {
    /* Color of Icon in Location-Button while hovering over it */
    color: var(--sidebar-color)
}

body.dark .location {
    /* Background-Color of Location-Button in Darkmode */
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

body.dark .location:hover {
    /* Background-Color of Location-Button in Darkmode while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

body.dark .location:hover .icon {
    /* Color of Icon in Location-Button in Darkmode while hovering over it */
    color: var(--text-color)
}

.sidebar.open ~ .location {
    /* Position of Location-Button when Sidebar is open */
    left: 230px;
    transition: var(--tran-05);
}

/* == Delete Route Button == */
.deletebtn {
    position: absolute;
    align-items: center;
    padding: 11px 12px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    bottom: 15px;
    right: 130px;
    border-radius: 6px;
    background-color: rgba(246, 245, 255, 0.5);
    z-index: 1001;
    border: none;
    display: none; /* Versteckt den Button wenn keine Route angezeigt */
    backdrop-filter: blur(7px);
}

.deletebtn .icon {
    /* Icon in Delete-Button */
    font-size: 26px;
}

.deletebtn:hover {
    /* Background-Color of Delete-Button while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

.deletebtn:hover .icon {
    /* Color of Icon in Delete-Button while hovering over it */
    color: var(--sidebar-color)
}

body.dark .deletebtn {
    /* Background-Color of Delete-Button in Darkmode */
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

body.dark .deletebtn:hover {
    /* Background-Color of Delete-Button in Darkmode while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

body.dark .deletebtn:hover .icon {
    /* Color of Icon in Delete-Button in Darkmode while hovering over it */
    color: var(--text-color)
}

/* == Menu-Button == */
.menu-button {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 15px 15px;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
    bottom: 15px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(246, 245, 255, 0.5);
    z-index: 1001;
    border: none;
    backdrop-filter: blur(7px);
}

.menu-button .icon {
    /* Icon in Menu-Button */
    font-size: 20px;
}

.menu-button:hover {
    /* Background-Color of Menu-Button while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

.menu-button:hover .icon {
    /* Color of Icon in Menu-Button while hovering over it */
    color: var(--sidebar-color)
}

body.dark .menu-button {
    /* Background-Color of Menu-Button in Darkmode */
    background-color: var(--sidebar-color);
    color: var(--text-color);
}

body.dark .menu-button:hover {
    /* Background-Color of Menu-Button in Darkmode while hovering over it */
    background-color: var(--primary-color);
    box-shadow: 0 .1rem .4rem #0002;
}

body.dark .menu-button:hover .icon {
    /* Color of Icon in Menu-Button in Darkmode while hovering over it */
    color: var(--text-color)
}

/* == Checkbox (on Map) == */
.checkbox-menu {
    position: absolute;
    bottom: 70px;
    right: 10px;
    z-index: 1000;
    background-color: var(--containercolor);
    color: var(--containertextcolor);
    padding: 10px;
    border-radius: 6px;
    max-width: 210px;
    min-width: 170px;
    backdrop-filter: blur(7px);
}

body.dark .checkbox-menu {
    /* Background-Color of Checkbox-Menu in Darkmode */
    background-color: var(--containercolor);
    color: var(--containertextcolor);
}

.hidden {
    /* Hide Checkbox-Menu */
    display: none;
}

/* ====== Routing-Info-Container ======*/
.info-container-1 {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 1000;
    background-color: var(--containercolor);
    color: var(--containertextcolor);
    padding: 10px;
    border-radius: 6px;
    max-width: 210px;
    min-width: 170px;
    display: none;
    backdrop-filter: blur(7px);
}

body.dark .info-container-1 {
    /* Background-Color of Info-Container in Darkmode */
    background-color: var(--containercolor);
    color: var(--containertextcolor);
}


/* ========== Analyse Section ========== */
.grid-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; /*Zeile*/
    grid-template-areas:
        "chart chart"
        "chart chart";
    overflow-y: scroll;
}

.chart-card {
    /* Cards in Analyse Section */
    padding: 5px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
}

/* ==== Bubble-Chart, Radar-Chart, Map-Chart ==== */
.bubble-chart, .radar-chart, .map-chart {
    /* Charts in Analyse Section */
    width: 100%;
    height: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-chart canvas, .radar-chart canvas, .map-chart canvas {
    /* Canvas-Size in Charts */
    max-width: 100%;
    max-height: 100%;
}

.square {
    /* Square in Bubble-Chart */
    width: 280px;
    height: 280px;
}

.square2 {
    /* Square in Radar-Chart */
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
}

.rectangle {
    /* Rectangle in Map-Chart */
    height: 220px;
    width: 577px;
}

#mapTopoJSON {
    /* Map in Map-Chart */
    width: 100vw;
    height: 100vh;
}

/* ====== Amenity Cluster Bubbles ====== */
.cluster-bubble {
    background-color: #00A8FF; /* Dunkleres Hellblau */
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    opacity: 0.6;
}

.dropdown-menu {
    /* Dropdown-Menus */
    position: relative;
    display: block;
    width: 180px; /* width of dropdown menu */
    height: 50px;
    margin: 10px auto; /* center dropdown menu */
    background: var(--primary-color-light);
    border-radius: 6px;
    border: none;
    padding: 10px;
    color: var(--text-color);
    margin-right: 1px; /* needs to be mentioned, otherwise the dropdown menus are not aligned correctly */
}

.dropdown-menu:hover {
    /* Background-Color of Dropdown-Menus while hovering over them */
    background-color: var(--primary-color);
    color: var(--body-color);
    box-shadow: 0 .1rem .4rem #0002;
}

.dropdown-menu:hover option {
    /* Background-Color of Dropdown-Options while hovering over them */
    background-color: var(--primary-color-light);
    color: #242526
}

body.dark .dropdown-menu {
    /* Background-Color of Dropdown-Menus in Darkmode */
    background: var(--primary-color-light);
    color: var(--text-color);
}

body.dark .dropdown-menu:hover {
    /* Background-Color of Dropdown-Menus in Darkmode while hovering over them */
    background-color: var(--primary-color-light);
    box-shadow: 0 .1rem .4rem #0002;
}

body.dark .dropdown-menu:hover option {
    /* Background-Color of Dropdown-Options in Darkmode while hovering over them */
    background-color: var(--primary-color-light);
    color: var(--text-color);
}

/* ===== User-Guide ===== */
.user-guide-container {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 10px;
    max-height: 97vh;
    overflow-y: auto;
}

.user-guide-title {
    /* Title of User-Guide */
    color: var(--text-title-color);
    margin-bottom: 20px;
}

.user-guide-container h2 {
    /* Headings in User-Guide */
    color: var(--text-title-color);
    border-bottom: 2px solid var(--text-title-color);
    padding-bottom: 5px;
}

.user-guide-container h3 {
    /* Subheadings in User-Guide */
    color: var(--text-title-color);
    margin-top: 20px;
    margin-bottom: 3px;
}

.user-guide-container ul {
    /* Lists in User-Guide */
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 20px;
}

.user-guide-container li {
    /* List-Items in User-Guide */
    padding: 5px 0;
    color: var(--text-color);
}

.user-guide-container li i {
    /* Icons in User-Guide */
    font-size: 1.2rem; /* bigger icons for visability */
    width: 30px;
    text-align: center;
    color: var(--text-color);
}

.user-guide-container p {
    /* Text in User-Guide */
    color: var(--text-color);
}

.spacing-between-lines {
    /* Spacing between lines in User-Guide */
    margin-bottom: 10px;
}


/* ===== Table ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.boxes, main.bubble-chart, main.radar-chart, main.map-chart {
    /* Main of all Charts in Analyse Section */
    width: calc(46vw - 5px);
    height: 47vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    border-radius: 6px;
    overflow: hidden;
    margin: 0 auto;
}

/* ===== Media Queries ===== */

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr); /*4 reihen, 1 chart)*/
        grid-template-areas:
            "chart"
            "chart"
            "chart"
            "chart";
        gap: 10px;
    }

    .user-guide-container {
        padding: 5px;
    }

    main.boxes, main.bubble-chart, main.radar-chart, main.map-chart {
        /*width minus 60px von links*/
        width: calc(100vw - 98px);
        height: 51vh;
        background-color: #fff5;
        border-radius: 6px;
        overflow: hidden;
        margin: 0 auto; /*zentriert*/
    }
}

/* Stil speziell für Mobilgeräte im Landscape-Modus (horizontal) */
@media only screen and (max-width: 900px) and (min-aspect-ratio: 13/9) {
    main.boxes {
        height: 95vh;
        width: 100%;
    }
}

@media print {
    .boxes, .table__body {
        overflow: visible;
        height: auto !important;
        width: auto !important;
    }
}


/* =====Table ===== */
.table__header {
    width: 100%;
    height: 18%;
    background: var(--sidebar-color);
    color: var(--text-color);
    padding: .8rem 1rem;
    font-size: .9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 1;
}

.table__header .input-group {
    /* Search-Box in Table */
    width: 180px;
    height: 50px;
    padding: 0 .7rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
    background: var(--primary-color-light);
    margin-right: 1px;
}

.table__header .input-group:hover {
    /* Zoom of Search-Box while hovering over it */
    width: 190px;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group input {
    /* Input-Field in Search-Box */
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--text-color);
}

.table__body {
    /* Body of Table */
    width: 100%;
    font-size: .9rem;
    max-height: calc(89% - 1.6rem);
    background-color: #E4E9F7;
    margin: 0 auto;
    overflow: auto;
}

.table__body::-webkit-scrollbar {
    /* Scrollbar in Table */
    width: 0px;
    height: 0px;
    visibility: hidden;
}

table, th, td {
    /* Table, Table-Head and Table-Body */
    border-collapse: collapse;
    padding: 0.9rem;
    text-align: left;
    table-layout: auto;
}

th, td {
    /* Table-Head and Table-Body */
    width: max-content;
    min-width: 120px; /* optional: sets a minimal width */
    white-space: nowrap; /* prevents break in header */
    color: var(--containertextcolor)
}

thead th {
    /* Table-Head */
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    cursor: pointer;
    text-transform: capitalize;
    width: 100%;
}

thead {
    /* Table-Head */
    position: sticky;
    top: 0;
    background: white; /* Hintergrundfarbe ist notwendig, um die Zellen darüber zu verdecken */
    z-index: 1; /* Z-Index ist notwendig, um sicherzustellen, dass die sticky Zellen über den anderen liegen */
    padding: 0.9rem;
}

table th:first-of-type,
table td:first-of-type {
    /* First Column of Table (needs to be visible at all times) */
    position: sticky;
    left: 0;
    background-color: var(--body-color);
    z-index: 1; /* z-index is needed, to ensure that the sticky cells are above the others */
}

table tr:nth-child(odd) td:first-of-type {
    background-color: var(--sidebar-color);
}

table tr:nth-child(even) td:first-of-type {
    background-color: var(--body-color);
}

tbody tr:nth-child(even) {
    /* Background-Color of Table-Body while hovering over it: even-rows */
    background-color: var(--body-color);
    opacity: 0.7;
}

tbody tr:nth-child(odd) {
    /* Background-Color of Table-Body while hovering over it: odd-rows */
    background-color: var(--sidebar-color);
    opacity: 0.7;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.viel {
    /* Background-Color of Status-Column in Table */
    background-color: #86e49d;
    color: #006b21;
}

.status.wenig {
    /* Background-Color of Status-Column in Table */
    background-color: #d893a3;
    color: #b30021;
}

.status.mittel {
    /* Background-Color of Status-Column in Table */
    background-color: #ebc474;
}


@media (max-width: 900px) {
    td:not(:first-of-type) {
        min-width: 1rem;
    }
}


thead th span.icon-arrow {
    /* Arrow-Icon in Table-Head */
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    /* Color of Arrow-Icon in Table-Head while hovering over it */
    border: 1.4px solid #007bff;
}

thead th:hover {
    /* Color of Table-Head while hovering over it */
    color: #007bff;
}

thead th.active span.icon-arrow {
    /* Arrow-Icon in Table-Head while active */
    background-color: #007bff;
    color: #fff;
}

thead th.asc span.icon-arrow {
    /* Arrow-Icon in Table-Head while ascending */
    transform: rotate(180deg);
}

thead th.active, tbody td.active {
    /* Color of Table-Head and Table-Body while active */
    color: #007bff;
}

.export__file {
    /* Export-Button */
    position: relative;
}

.export__file .export__file-btn {
    /* Export-Button */
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover {
    /* Background-Color of Export-Button while hovering over it */
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    /* Input-Field in Export-Button */
    display: none;
}

.export__file .export__file-options {
    /* Options in Export-Button */
    position: absolute;
    right: 0;
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    box-shadow: 0 .2rem .5rem #0004;
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    /* Options in Export-Button while checked */
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label {
    /* Labels in Export-Button */
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type {
    /* First Label in Export-Button */
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover {
    /* Background-Color of Labels in Export-Button while hovering over them */
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img {
    /* Icons in Export-Button */
    width: 2rem;
    height: auto;
}

.hide {
    /* Hide Table-Body */
    display: none;
}


.map-toggle-switch {
    /* Adoption of the existing style and customisation for the map container */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 5px;
    background: var(--primary-color-light); /* or other color */
}

.map-toggle-switch .switch {
    /* Adoption of the existing switch style */
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
    transition: var(--tran-05);
}

.map-toggle-switch .switch::before {
    /* Adoption of the existing switch button style */
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

/* Adjust for dark mode if required */
.map-toggle-switch .switch.on::before {
    left: 24px; /* or another position in dark mode */
}

body.dark .map-toggle-switch .switch.on::before {
    left: 24px; /* or another position in dark mode */
}


.controls-container {
    /* Adoption of the existing style and customisation for the map container */
    display: flex;
    align-items: center;
}


.custom-link-color {
    /* Adoption of the existing style and customisation for the map container */
    color: var(--text-title-color);
}