#map {
    position: relative;
    width: 90vw;
    height: 70vh;
    margin-left: 5vw;
    z-index: 1;
    border-radius: 10px;
}

#locate-btn{
            position: absolute;
            bottom: 10px;
            left: 10px;
            z-index: 1000;
            color: black;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            border-color: rgba(255, 255, 255, 0.8);
        }

#checkbox-container {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 5px;
            max-width: 250px;
        }

#cyclebuddy-logo {
            width: 120px;
        }


#map_container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            cursor: pointer;
        }

/* New code */
.hidden {
  display: none;
}


#toggleMenu {
  position: absolute;
  bottom: 10px;
}

/* In deiner CSS-Datei (style.css) */
.menu-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    max-width: 250px;
    border-color: rgba(255, 255, 255, 0.5);
}

.menu-button img {
    width: 20px; /* Hier kannst du die Breite anpassen */
    height: 20px; /* Hier kannst du die Höhe anpassen */
}


.checkbox-menu {
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9); /* Hier kannst du die Deckkraft anpassen (0.9 für 90% undurchsichtig) */
    padding: 10px;
    border-radius: 5px;
    max-width: 250px;
}
