<!DOCTYPE html>
<html>
<head>
    <title>CycleBuddy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <style>
        #map {
            width: 100%;
            height: 50vh;
        }
    </style>
</head>
<body>

<div class="container mt-4">
    <h1 class="text-center">CycleBuddy</h1>
    <div id="map"></div>
</div>

<div class="d-flex justify-content-center">
    <button id="locate-btn" class="btn btn-primary">Aktualisiere meinen Standort</button>
</div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Ihr ausgelagerter JavaScript-Code -->
<script src="functions.js"></script>

</body>
</html>
