<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convert | Export html Table to CSV & EXCEL File</title>

    <!-- Style sheet -->
    <link rel="stylesheet" href="../static/css/tabelle.css" />

</head>

<body>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Fahrradwege</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Gemeinde <span class="icon-arrow">&DownArrow;</span></th>
                <th> Fläche <span class="icon-arrow">&DownArrow;</span></th>
                <th> Fahrradwege <span class="icon-arrow">&DownArrow;</span></th>
                <th> Fahrradwege/km² <span class="icon-arrow">&DownArrow;</span></th>
                <th> Status <span class="icon-arrow">&DownArrow;</span></th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
</main>
<script type ="module" src="../static/js/tabelle.js"></script>

</body>

</html>